* {
  box-sizing: border-box;
}

#authorsImage {
  width: 50%;
}

#laurence-sherryll {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 20px;
  align-items: center;
  background-color: #FFCB9A;
}

.laurence {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #D1E8E2;
}

#laurence-para {
  display: block;
  padding: 15px 0;
  margin: 10px;
}

.sherryll {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #D1E8E2;
  padding: 10px;
  margin: 10px;
}

@media only screen and (min-width: 601px) {
  * {
    box-sizing: border-box;
  }
  body, html {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
  }
  #desktopRestList {
    display: flex;
    flex-direction: column;
    flex: 4;
  }
  #wholePageContent {
    display: flex;
    flex-direction: row;
    flex: 3;
  }
  .desktopView {
    display: flex;
    flex: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./pizza.jpg');
  }
  .top-section {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-text {
    color: #D1E8E2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  #homeSearch {
    color: #D1E8E2;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 2px 4px #2C3531;
    border-style: none;
    padding: 10px;
    background-color: #116466;
  }
  link {
    text-decoration: none;
    color: #D1E8E2;
  }
  #homeSearch:active {
    border-radius: 15px;
    box-shadow: 2px 4px #D9B08C;
    border-style: none;
    padding: 10px;
    background-color: #FFCB9A;
  }
  .mainInput {
    border-radius: 6px;
    border-style: inset #2C3531;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 40px;
    text-align: center;
    margin-top: 10px;
  }
  .mainHeadline {
    font-size: 50px;
  }
  .restCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  #orderDetails {
    background-color: rgb(255, 202, 153, 0.4);
  }
  #orderTitle {
    margin-left: 30px;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 40px;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 #116466;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2px 16px;
    margin: 20px;
  }
  .cardTitle {
    border-radius: 3px;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #2c3531;
    color: #FFCB9A;
    background-size: 100%;
  }
  .pageTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
    color: #116466;
    padding: 10px;
    border-style: solid;
    border-radius: 4px;
  }
  .logo {
    margin-bottom: 20px;
    height: 80px;
  }
  .restInfo {
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-width: 420px;
  }
  #logo-rating {
    color: #2C3531;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
    margin-bottom: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #116466;
  }
  #fry-rating {
    display: flex;
    flex-direction: column;
  }
  #cuisine-address {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-style: solid;
    border-width: 1px;
    border-color: #116466;
  }
  #address {
    margin-left: 20px;
  }
  #cuisine {
    margin: 0 20px;
  }
  #details {
    display: flex;
    flex-direction: column;
  }
  .loaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .loader {
    border: 16px solid #D1E8E2;
    border-top: 16px solid #116466;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.mapSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px;
}

#mapCard {
  height: 400px;
  width: 400px;
}

#mapContainer {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mapCard p {
  font-size: 30px;
  text-decoration: none;
}

#mapLink {
  text-decoration: none;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #2C3531;
}

.navBar {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.logoContainer {
  height: 40px;
  width: 40px;
  margin: 5px;
}

#logo {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-left: 10px;
}

.navLink {
  padding: 0 10px;
}

@media only screen and (max-width: 600px) {
  * {
    box-sizing: border-box;
  }
  body, html {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
  }
  .top-section {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-text {
    color: #D1E8E2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  #homeSearch {
    color: #D1E8E2;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 2px 4px #2C3531;
    border-style: none;
    padding: 10px;
    background-color: #116466;
  }
  link {
    text-decoration: none;
    color: #D1E8E2;
  }
  #homeSearch:active {
    border-radius: 15px;
    box-shadow: 2px 4px #D9B08C;
    border-style: none;
    padding: 10px;
    background-color: #FFCB9A;
  }
  .mainInput {
    border-radius: 6px;
    border-style: inset #2C3531;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 40px;
    text-align: center;
    margin-top: 10px;
  }
  .mainHeadline {
    font-size: 50px;
  }
  .restCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  #orderDetails {
    background-color: rgb(255, 202, 153, 0.4);
  }
  #orderTitle {
    margin-left: 30px;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 40px;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 #116466;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2px 16px;
    margin: 20px;
  }
  .cardTitle {
    border-radius: 3px;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #2c3531;
    color: #FFCB9A;
    background-size: 100%;
  }
  .pageTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
    color: #116466;
    padding: 10px;
    border-style: solid;
    border-radius: 4px;
  }
  .logo {
    margin-bottom: 20px;
    height: 80px;
  }
  .restInfo {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  #logo-rating {
    color: #2C3531;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
    margin-bottom: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #116466;
  }
  #fry-rating {
    display: flex;
    flex-direction: column;
  }
  #cuisine-address {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-style: solid;
    border-width: 1px;
    border-color: #116466;
  }
  #address {
    margin-left: 20px;
  }
  #cuisine {
    margin: 0 20px;
  }
  #details {
    display: flex;
    flex-direction: column;
  }
  .loaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .loader {
    border: 16px solid #D1E8E2;
    border-top: 16px solid #116466;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}